@{ 
    @using Microsoft.AspNetCore.Http;
    var nombre = Context.Session.GetString("NOMBRE").ToString();
    var correo = Context.Session.GetString("CORREO").ToString();
    var tipo = Context.Session.GetString("TIPO").ToString();
   
}
<!DOCTYPE html> 
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRUD</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <style>
        #content {
            padding: 20px;
            overflow-y: scroll;
            background-image: url(https://k41.kn3.net/FC44095CB.png);
            background-size: cover;
            overflow-y: hidden;
        }


        @@media only screen and (max-width : 992px) {
            #content {
                margin-left: 0;
            }

        }

        .tabs .tab {
            display: block;
            text-align: left;
        }

            .tabs .tab a {
                color: black;
            }

                .tabs .tab a:hover, .tabs .tab a.active {
                    background-color: transparent;
                    color: dodgerblue;
                }

        #slide-out {
            border: none;
        }

        .side-nav li > form {
            color: rgba(0,0,0,0.87);
            display: block;
            font-size: 14px;
            font-weight: 500;
            height: 47px;
            line-height: 48px;
            padding: 0 32px;
        }

        .side-nav li button {
            border: none;
            background: none;
            color: red;
            padding: 0;
        }
    </style>
</head>
<body>

    <nav style="overflow:hidden;">
        <div class="nav-wrapper" style="background-color:#191b1b;">
            <a href="#!" class="brand-logo center" style="height:100%;"><img src="https://cdn.dribbble.com/users/781886/screenshots/2007606/logo_animation.gif" style="height:350%; margin-top:-24%;" /></a>
            <a href="#" data-activates="slide-out" class="button-collapse" style="display:initial;"><i class="material-icons">menu</i></a>

        </div>
    </nav>
    <ul id="slide-out" class="side-nav  collapsible tabs" style="position:absolute;top:auto;" data-collapsible="accordion">
        <li>
            <div class="user-view" style="padding:32px;">
                <div class="background">
                    <img src="http://www.desktopimages.org/pictures/2012/1207/1/cities-cityscapes-people-mood-alone-scenic-architecture-buildings-night-lights-photography-wallpaper-222982.jpg" style="background-size:cover; width:100%;">
                </div>

                <h5><span class="white-text">@nombre</span></h5>
                <h6><span class="white-text email">@correo</span></h6>
            </div>
        </li>
        @if (tipo == "Admin")
         {
            <li class="tab"><a href="#usuarios_div"><i class="material-icons">account_box</i>Usuarios</a></li>
         }
        <li class="tab"><a href="#clientes_div"><i class="material-icons">account_box</i>Clientes</a></li>
        <li class="tab"><a href="#contactos_div"><i class="material-icons">account_box</i>Contactos</a></li>
        <li class="tab"><a href="#reuniones_div"><i class="material-icons">people</i>Reuniones</a></li>
        <li class=""><a href=""><i class="material-icons">style</i>Support Tickets</a></li>
        <li class=""><a href=""><i class="material-icons">error</i>Configuración</a></li>
        <li class=""><form asp-action="Salir" method="post"><button type="submit"><i class="material-icons">directions_run</i>Salir</button></form></li>
    </ul>
    

    @RenderBody()
    @RenderSection("Scripts", required: false)
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script>
        $(".button-collapse").sideNav();
        $(document).ready(function () {
            $('.slider').slider();
        });
        $(document).ready(function () {
            $('.modal').modal();
        });
        $(document).ready(function () {
            $('select').material_select();
        });
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year,
            today: 'Today',
            clear: 'Clear',
            close: 'Ok',
            closeOnSelect: false // Close upon selecting a date,
        });
        $('.timepicker').pickatime({
            default: 'now', // Set default time: 'now', '1:30AM', '16:30'
            fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
            twelvehour: false, // Use AM/PM or 24-hour format
            donetext: 'OK', // text for done-button
            cleartext: 'Clear', // text for clear-button
            canceltext: 'Cancel', // Text for cancel-button
            autoclose: false, // automatic close timepicker
            ampmclickable: true, // make AM PM clickable
            aftershow: function () { } //Function for after opening timepicker
        });
        $('.dropdown-button').dropdown({
            inDuration: 300,
            outDuration: 225,
            constrainWidth: false, // Does not change width of dropdown to that of the activator
            hover: true, // Activate on hover
            gutter: 0, // Spacing from edge
            belowOrigin: false, // Displays dropdown below the button
            alignment: 'left', // Displays dropdown with edge aligned to the left of button
            stopPropagation: false // Stops event propagation
        }
        );

    </script>
</body>
</html>
