@{
    Layout = "_Layout2";
}
<div class="slider fullscreen ">
    <ul class="slides">
        <li>
            <img src="https://www.sportyjob.com/wp-content/uploads/2016/08/Set-up-CV.jpg"> <!-- random image -->
            <div class="caption center-align">
                <h3>This is our big Tagline!</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
        <li>
            <img src="http://argentinamunicipal.com.ar/argentina/wp-content/uploads/2015/08/mujer-escribiendo-en-computadora.jpeg"> <!-- random image -->
            <div class="caption left-align">
                <h3>Left Aligned Caption</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
        <li>
            <img src="http://www.telemundo.com/sites/nbcutelemundo/files/images/article/cover/2017/04/04/persona-usando-computadora-sobre-mesa.jpg"> <!-- random image -->
            <div class="caption right-align">
                <h3>Right Aligned Caption</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
        <li>
            <img src="https://www.internsg.com/wp-content/uploads/2017/02/office-notes-notepad-entrepreneur-38556-1038x689.jpeg"> <!-- random image -->
            <div class="caption center-align">
                <h3>This is our big Tagline!</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
    </ul>
</div>

<div id="modal1" class="modal">
    <div class="modal-content">
        <h4 class="center">Registro</h4>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_box</i>
                        <input id="usuario" type="text" class="validate">
                        <label for="usuario">Usuario</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">verified_user</i>
                        <input id="contra" type="password" class="validate">
                        <label for="contra">Contraseña</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">business</i>
                        <input id="nombre" type="text" class="validate">
                        <label for="nombre">Nombre Empresa</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">fingerprint</i>
                        <input id="cedula_juri" type="text" class="validate">
                        <label for="cedula_juri">Cédula Juridica</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">language</i>
                        <input id="sitio" type="text" class="validate">
                        <label for="sitio">Sitio Web</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">local_library</i>
                        <input id="direccion" type="text" class="validate">
                        <label for="direccion">Dirección Física</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">local_phone</i>
                        <input id="telefono" type="text" class="validate">
                        <label for="telefono">Número de Teléfono</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">store</i>
                        <select>
                            <option value="" disabled selected>Seleccione un sector</option>
                            <option value="Educación">Educación</option>
                            <option value="Industria">Industria</option>
                            <option value="Agricultura">Agricultura</option>
                            <option value="Manufactura">Manufactura</option>
                            <option value="Servicios">Servicios</option>
                            <option value="Otros">Otros</option>
                        </select>
                        <label>Sector</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <h4 class="center"><a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Registrar</a></h4>
    </div>
</div>
<div id="modal2" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4 class="center"><a><img src="https://i0.wp.com/mydevgeek.com/wp-content/uploads/2017/02/spring-boot-project-logo.png?resize=300%2C300" style="height:100px" /></a></h4>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">account_box</i>
                <input id="user" type="text" class="validate">
                <label for="user">Usuario</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">verified_user</i>
                <input id="contrasena" type="password" class="validate">
                <label for="contrasena">Contraseña</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <h4 class="center"><a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Iniciar</a></h4>
    </div>
</div>




